head {
	display:none;
}

media="screen"
body {
    font-family: Vollkorn,serif;
    line-height: 1.7;
    word-break: break-word;
    background-color: #F2F2F2;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media screen{
.container {
    margin: 0 auto;
    width: 85%;
    min-width: 15em;
    max-width: 68.5em;
}
}