body{
	margin:0;
}

#header-container{
    display: flex;
    background-color: rgba(68, 62, 62, 0.5);
	height: 150px;
}

.banner{	
	cursor: pointer;
	margin: .5em;
	flex-grow: 1;
	text-align: center;
	font-family: serif;
	font-style: italic;	
}
@media only screen and (min-width:755px)
{
	.banner {
	    width: 30%;
	    height: 100px;
    	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		border-radius: 25px;
		font-weight: 600;
		font-size: -webkit-xxx-large;}
	}

	#header-container{
	    padding-top:1em;
	}
}
@media only screen and (max-width:755px)
{
	.banner{
		width:33% !important;
		height:100% !important;
		margin:0 !important;
		font-weight: 100;
	}
}
#home{
    background: rgba(232, 130, 130, 0.5);
}

#about-me{
	background: rgba(195, 164, 164, 0.5);
}

#resume{
	background: rgba(144, 146, 220, 0.74);
}	

#home:hover{
    background: rgba(232, 130, 130, .85);
}

#about-me:hover{
	background: rgba(195, 164, 164, 0.85);
}

#resume:hover{
	background: rgba(144, 146, 220, 0.85);
}	

#left-panel-container{
    height: 100%;
    width: 25%;
    background-color: rgba(224, 216, 216, 0.69);
    position: absolute;
}